<!DOCTYPE html>
<html lang="en">
 
   <head>
       <meta charset="UTF-8">
       <title>LifeSpot</title>
       <link href="../Static/CSS/index.css" rel="stylesheet" type="text/css">
       <!--<script defer src="../Static/JS/index.js"></script>-->
   </head>
  
   <header id="header-index">
       <h1>LifeSpot - тестовая страница</h1>
       <p>Здесь можно экспериментировать с кодом</p>
       <input type="text" oninput=" // Получим все контейнеры с видео
       let elements = document.getElementsByClassName('video-container');
      
       // Пробежимся в цикле и выведем все в консоль
       for (let i = 0; i <= elements.length; i++ ){

        // Получим всё что внутри контейнера
        let childElements = elements[i];
        // Получим элемент, содержащий описание видео
        // Он у нас единственный с тегом h3, снова воспользуемся поиском по тегу,
        let videoDescription = childElements.getElementsByTagName('h3')[0];
        // Выведем его текст на консоль
        console.log(videoDescription.innerText);
       } " size=50%>
   </header>
  
   <aside id="sidebar">
       <div class="navbar">
           <a href="/"><p>Трансляции</p></a>
           <a href="/"><p>О проекте</p></a>
       </div>
   </aside>
  
   <!--SIDEBAR-->
   <body></body>
   <!--FOOTER-->
 
</html>